{% extends "layouts/base.html" %}
{% block body %}
    <h1>{{ title }}</h1>
    <p>
        <a href="{{ url_for("admin.dashboard") }}">← Back to Dashboard</a>
        <a href="{{ url_for("admin.post") }}">New Post</a>
    </p>
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.doc_file.label }}
            <br>
            {{ form.doc_file(size=32) }}
            {% for error in form.doc_file.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
